@import '../../styles/mixins';

.project-container {
  li {
    height: 266px;
    box-shadow: 0px 0px 3px #00000029;
    color: hsla(0, 0%, 0%, 0.8);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding: 16px;
    border-radius: 4px;

    border: 2px solid white;

    @include mobile {
      height: 100%;
      min-height: 266px;
      position: relative;
      padding-bottom: 24px;

      h4 {
        text-align: center;
        margin-top: 210px;
      }

      a {
        position: absolute;
        bottom: 8px;
        right: 0px;
      }

      .text-content {
        max-width: 50%;

        h3 {
          margin-top: 0px;
        }
      }
    }

    .section-container {
      width: 100%;
      position: relative;
      .text-content {
        width: 70%;
        h3 {
          margin-top: 0px;
        }
      }

      .project-image {
        width: 130px;
        position: absolute;
        top: 40px;
        right: -20px;
      }
    }

    a {
      float: right;
      font-size: 16px;
    }

    p.top-right-text {
      float: right;
      font-size: 16px;
      color: #2c2c2ca8;
    }
  }
}

.project-container:hover {
  text-decoration: none;
  cursor: pointer;

  li {
    border: 2px solid rgb(230, 208, 208);
  }
}
