@import '../../styles/mixins';

li.project-container {
  height: 340px;

  @include mobile {
    height: 100%;
    position: relative;
    padding-bottom: 24px;

    h4 {
      text-align: center;
      margin-top: 210px;
    }

    a {
      position: absolute;
      bottom: 8px;
      right: 0px;
    }

    p.top-right-text {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }

  .project-image {
    float: left;
    width: 210px;
  }

  a {
    float: right;
    font-size: 16px;
  }

  p.top-right-text {
    float: right;
    font-size: 16px;
    color: #2c2c2ca8;
  }

  ul {
    list-style-type: none;
    max-width: 500px;

    @include mobile {
      max-width: 300px;
      margin: 0 auto;
    }

    li {
      display: inline-block;
      margin-right: 16px;
      margin-bottom: 16px;
      width: 80px;
      text-align: center;

      img {
        width: 60px;
        margin: 0 auto;
        margin-bottom: -8px;
      }
      label {
        font-size: 12px;
      }
      label:hover {
        cursor: text;
      }
    }
  }
}
