ul.articles {
  list-style-type: none;
  margin: 0px;

  li {
    width: 100%;
    height: 80px;
    a {
      img {
        width: 64px;
        height: 72px;
        object-fit: cover;
        float: left;
        margin-right: 8px;
        padding-top: 4px;
      }

      p {
        color: #333;
        font-size: 1.25rem;
        margin-bottom: 4px;

        line-height: 24px;
      }

      span {
        color: #888;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }

  a.text-link {
    float: right;
    margin-top: -16px;
  }
}
