.filters {
  text-align: center;
  width: 240px;
  margin: 0 auto;
  border-bottom: 1px dotted #333;

  .filter {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    color: #858585;
  }

  .filter.selected {
    color: black;
  }
}
