header {
  position: relative;
  text-align: center;
  height: 110px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  a.text-link {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 57px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 3rem;
  }

  a.text-link:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}
