.header {
  margin-top: 20px;
  position: relative;
  text-align: center;
  height: 110px;
  // background-color: red;
  max-width: 710px;
  margin: 0 auto;
  margin-top: 4px;

  img {
    width: 100%;
  }

  .centered {
    position: absolute;
    top: calc(50% + 4px);
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 50px;

    a {
      color: white;
    }

    a:hover {
      background-size: 4px 4px;
    }
  }
}
