nav {
  text-align: center;
  ul {
    list-style: none;

    margin: 0px;
    padding: 0px;
    li {
      display: inline-block;
      margin: 10px;

      a {
        font-size: 22px;
      }

      a.selected {
        background-color: #ffa987;
      }
    }
  }
}
