section.tutorials {
  .tutorial {
    font-size: 20px;
    margin-bottom: 20px;
    a {
      color: blue;
    }

    .date {
      color: #333;
      font-size: 12px;
      text-align: left;
    }
  }
}
